<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <META charset="UTF-8">
        <TITLE>BUCKET DELETE</TITLE>
        <LINK href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <LINK rel="stylesheet" href="css/style.css">
    </HEAD>
    <BODY>
        <DIV class="container-row"><H1 class="word">DELETE</H1><H1 class="word">FILES</H1><H1 class="word">FROM</H1><H1 class="word">S3</H1><H1 class="word">BUCKET</H1></DIV>
        <DIV class="container box">
            <FORM>
                <H3>You only can delete files from this Bucket</H3>
                <SELECT style="width: 350px;" class="form-select" aria-label="Disabled select example" name="bucket" id="bucketDelete" disabled>
                    <OPTION selected value="{{bucket.Name}}">srueda-public-content</OPTION>
                </SELECT>
                <H3>Now select the object to delete</H3>
                <SELECT style="width: 350px;" class="form-select form-select-sm" aria-label=".form-select-sm example" name="objects" id="objectDelete">
                    {{#each objects}}
                        <OPTION value="{{this.Key}}">{{this.Key}}</OPTION>
                    {{/each}}
                </SELECT>
                <BUTTON class="hide-button" type="submit" id="deleteSbmt"><IMG class="rotate" src="img/close.png" height="50px" width="50px"></BUTTON>
            </FORM>
        </DIV>
        <SCRIPT src="js/script-delete.js"></SCRIPT>
    </BODY>
</HTML>